<section *ngIf="datas">
  <div class="content">
    <h1>Develop</h1>
    <h2>Career</h2>
    <div class="grid">
      <figure class="effect-sarah" *ngFor="let data of datas.develop.career" (click)="gotoDetail(data.id)">
        <div [ngStyle]="{
            'background-color': '#' + data.bgColor, 
            'background-image': 'url(' + data.url + ')'
          }" class="background"></div>
        <figcaption>
          <h3>{{data.title}}<span>{{data.emphasisTitle}}</span></h3>
          <div>
            <span *ngFor="let t of data.tag">{{t}}</span>
          </div>
        </figcaption>
      </figure>
    </div>
    <h2>Propject</h2>
    <div class="grid">
      <figure class="effect-sarah" *ngFor="let data of datas.develop.project" (click)="gotoDetail(data.id)">
        <div [ngStyle]="{
            'background-color': '#' + data.bgColor, 
            'background-image': 'url(' + data.url + ')'
          }" class="background"></div>
        <figcaption>
          <h3>{{data.title}}<span>{{data.emphasisTitle}}</span></h3>
          <div>
            <span *ngFor="let t of data.tag">{{t}}</span>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="content">
    <h1>Design</h1>
    <h2>Propject</h2>
    <div class="grid">
      <figure class="effect-sarah" *ngFor="let data of datas.design" (click)="gotoDetail(data.id)">
        <div [ngStyle]="{
          'background-color': '#' + data.bgColor, 
          'background-image': 'url(' + data.url + ')'
        }" class="background"></div>
        <figcaption>
          <h3>{{data.title}}<span>{{data.emphasisTitle}}</span></h3>
          <div>
            <span *ngFor="let t of data.tag">{{t}}</span>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</section>