.desc {
  padding: 0 0 3rem 0;
}
.grid {
  position: relative;
  padding: 1em 0 4em;
  width: 100%;
  list-style: none;
  display: inline-block;
  line-height: 1.5em;
  .single {
    width: 80% !important;
    max-width: inherit !important;
    margin: 0 auto !important;
    float: none !important;
    min-height: auto !important;
  }
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0.6rem 1%;
  max-width: 30rem;
  min-height: 22rem;
  width: 48%;
  margin-bottom: 3rem;
}

.grid figure {
  img,
  video {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 0.7rem;
  }
  video {
    outline: none;
  }
}

.grid figure figcaption {
  padding: 2em;
  font-size: 1em;
  text-align: center;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure div {
  margin: 0;
}

.tag-wrapp {
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 6rem;
  span {
    border-radius: 3rem;
    padding: 0.4rem 0.8rem;
    margin: 0.4rem;
    width: fit-content;
    display: inline-block;
  }
}

.embed-youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 100%;
  z-index: 9999;
  video {
    max-width: 100%;
    max-height: 100%;
  }
  // @include respond-to($large-desktop) {
  //   width: calc(100% - #{$sidebar-width});
  //   height: 500px;
  //   transform: translate(-50%, -250px);
  //   top: 50%;
  //   left: 50%;
  //   margin-top: calc(65px / 2);
  //   margin-left: calc(256px / 2);
  // }
  .cancel {
    svg {
      width: 48px;
      height: 48px;
      &:hover {
        fill: red;
      }
    }
    // position: absolute;
    // top: 0;
    // right: 0;
  }
}
