// /* You can add global styles to this file, and also import other style files */
* {
  font-family: "Spoqa Han Sans", "Arial", "Sans-serif";
  color: #292929;
}

a {
  text-decoration: none;
}
a:hover,
h1:hover {
  color: #2196f3;
}

.detail-link {
  text-decoration: none;
  &:hover {
    color: #2196f3;
  }
}

.content {
  max-width: 62rem;
  margin: 0 auto;
}
@media screen and (max-width: 70rem) {
  .content {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 45rem) {
  .content {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 55rem) {
  .grid figure {
    display: block;
    float: none !important;
    margin: 10px auto !important;
    width: 100% !important;
  }
}
